/* Tells browser to ignore border when calculating width */

* {
  box-sizing: border-box;
}

header, footer {
  height: 100px;
  clear: both;
  border: 3px solid black;
}

section {
  border: 3px solid black;
  height: 500px;
  width: 20%;
  float: left;
}

.biggestBox {
  width: 40%;
  float: left;
}


@media screen and (max-width: 600px) {
  section, .biggestBox{
    width: 100%;
  }  
}

@media (min-width: 601px) and (max-width: 800px) {
  section{
    background: pink;
  }
}

@media (min-width: 801px) {
  section{
    background: lavender;
    border: 1px solid black;
  }
}