/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body * {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  color: black;
}


/******************************************
/* LAYOUT
/*******************************************/

header {
  margin-top: 0;
  background-color: #f4f9fc;
}

h1 {
  font-family: serif;
  font-size: 70px;
}

h2 {
  font-size: 38px;
}

ul {
  list-style: none;
  width: 100%;
  margin: 0;
}

li {
  float: left;
  padding: 20px;
  width: 16.6666;
}

li:first-of-type {
  padding-right: 100px;
  padding-left: 0;
  float: left;
}

li:last-of-type {
  padding-left: 100px;
  float: right;
}

.button {
  text-decoration: none;
  color: white;
  background-color: #29475b;
  padding: 5px 20px;
}

.banner {
  background-image: url("../images/brooke-lark-fruit.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.banner-top {
  height: 400px;
  padding: 75px;
}

.banner-bottom {
  float: left;
}

.banner-top section {
  float: left;  
  width: 50%;
  padding: 30px;
}

.banner-bottom section {
  float: left;
  width: 25%;
  padding: 15px;
  font-size: 12px;
}


.content {
  float: left;
  width: 100%;
}

a {
  text-decoration: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
