/* Tells browser to ignore border when calculating width */

*{
  box-sizing: border-box;
}

header, footer{
  border: 3px solid black;
  height: 100px;
  clear: both;
}

section{
  border: 3px solid black;
  height: 300px;
  float: left;
}

.thirds{
  width: 33.33%;
}

.halves{
  height: 400px;
  width: 50%;
}

@media screen and (max-width: 600px) {
  section, .thirds, .halves{
    float: left;
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .thirds{
    border: none;
  }
}

@media (min-width: 901px) {
  .halves{
    border: none;
  }
}