/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
}

li {
  float: left;
  padding: 0 20px;
  justify-content: space-between;
}

li a {
  color: white;
  text-decoration: none;
  height: 100%;
}

li img {
  float: none;
  position: absolute;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}

li:last-of-type {
  float: right;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
  margin: 0;
  height: 70px;
  background: #62778c;
  padding: 20px 20px;
}

.top-row {
  width: 100%;
  background: #62778c;
  color: white;
  text-align: center;
  padding: 50px;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 50px;
}

#donate {
  color: #62778c;
  background: white;
  border-radius: 5px;
  padding: 5px 10px;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
